<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ThucHanhBuoi01/src/hoithoaiTCP/ServerTCP.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="hoithoaiTCP.ServerTCP"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ThucHanhBuoi01"/>
</launchConfiguration>
